# Development requirements (includes base requirements)
-r requirements.txt

# Testing
pytest
pytest-cov
coverage
bandit
safety
ruff

# Utilities
pipreqs 
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability